Pods/Alamofire/LICENSE
Pods/Alamofire/README.md
Pods/Alamofire/Source/AFError.swift
Pods/Alamofire/Source/Alamofire.swift
Pods/Alamofire/Source/AlamofireExtended.swift
Pods/Alamofire/Source/AuthenticationInterceptor.swift
Pods/Alamofire/Source/CachedResponseHandler.swift
Pods/Alamofire/Source/Combine.swift
Pods/Alamofire/Source/DispatchQueue+Alamofire.swift
Pods/Alamofire/Source/EventMonitor.swift
Pods/Alamofire/Source/HTTPHeaders.swift
Pods/Alamofire/Source/HTTPMethod.swift
Pods/Alamofire/Source/MultipartFormData.swift
Pods/Alamofire/Source/MultipartUpload.swift
Pods/Alamofire/Source/NetworkReachabilityManager.swift
Pods/Alamofire/Source/Notifications.swift
Pods/Alamofire/Source/OperationQueue+Alamofire.swift
Pods/Alamofire/Source/ParameterEncoder.swift
Pods/Alamofire/Source/ParameterEncoding.swift
Pods/Alamofire/Source/Protected.swift
Pods/Alamofire/Source/RedirectHandler.swift
Pods/Alamofire/Source/Request.swift
Pods/Alamofire/Source/RequestInterceptor.swift
Pods/Alamofire/Source/RequestTaskMap.swift
Pods/Alamofire/Source/Response.swift
Pods/Alamofire/Source/ResponseSerialization.swift
Pods/Alamofire/Source/Result+Alamofire.swift
Pods/Alamofire/Source/RetryPolicy.swift
Pods/Alamofire/Source/ServerTrustEvaluation.swift
Pods/Alamofire/Source/Session.swift
Pods/Alamofire/Source/SessionDelegate.swift
Pods/Alamofire/Source/StringEncoding+Alamofire.swift
Pods/Alamofire/Source/URLConvertible+URLRequestConvertible.swift
Pods/Alamofire/Source/URLEncodedFormEncoder.swift
Pods/Alamofire/Source/URLRequest+Alamofire.swift
Pods/Alamofire/Source/URLSessionConfiguration+Alamofire.swift
Pods/Alamofire/Source/Validation.swift
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/vladislav.xcuserdatad/xcschemes/Alamofire.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vladislav.xcuserdatad/xcschemes/Pods-TestMacOSApp.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vladislav.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Target Support Files/Alamofire/Alamofire-Info.plist
Pods/Target Support Files/Alamofire/Alamofire-dummy.m
Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
Pods/Target Support Files/Alamofire/Alamofire.debug.xcconfig
Pods/Target Support Files/Alamofire/Alamofire.modulemap
Pods/Target Support Files/Alamofire/Alamofire.release.xcconfig
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-Info.plist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-acknowledgements.markdown
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-acknowledgements.plist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-dummy.m
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks.sh
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-umbrella.h
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp.debug.xcconfig
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp.modulemap
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp.release.xcconfig
Pods/Pods.xcodeproj/xcuserdata/vladislav.xcuserdatad/xcschemes/SwiftGen.xcscheme
Pods/SwiftGen/CHANGELOG.md
Pods/SwiftGen/LICENCE
Pods/SwiftGen/README.md
Pods/SwiftGen/bin/swiftgen
Pods/SwiftGen/lib/Commander.framework/Commander
Pods/SwiftGen/lib/Commander.framework/Resources/Info.plist
Pods/SwiftGen/lib/Commander.framework/Versions/A/Commander
Pods/SwiftGen/lib/Commander.framework/Versions/A/Resources/Info.plist
Pods/SwiftGen/lib/Commander.framework/Versions/A/_CodeSignature/CodeResources
Pods/SwiftGen/lib/Commander.framework/Versions/Current/Commander
Pods/SwiftGen/lib/Commander.framework/Versions/Current/Resources/Info.plist
Pods/SwiftGen/lib/Commander.framework/Versions/Current/_CodeSignature/CodeResources
Pods/SwiftGen/lib/Kanna.framework/Kanna
Pods/SwiftGen/lib/Kanna.framework/Resources/Info.plist
Pods/SwiftGen/lib/Kanna.framework/Versions/A/Kanna
Pods/SwiftGen/lib/Kanna.framework/Versions/A/Resources/Info.plist
Pods/SwiftGen/lib/Kanna.framework/Versions/A/_CodeSignature/CodeResources
Pods/SwiftGen/lib/Kanna.framework/Versions/Current/Kanna
Pods/SwiftGen/lib/Kanna.framework/Versions/Current/Resources/Info.plist
Pods/SwiftGen/lib/Kanna.framework/Versions/Current/_CodeSignature/CodeResources
Pods/SwiftGen/lib/PathKit.framework/PathKit
Pods/SwiftGen/lib/PathKit.framework/Resources/Info.plist
Pods/SwiftGen/lib/PathKit.framework/Versions/A/PathKit
Pods/SwiftGen/lib/PathKit.framework/Versions/A/Resources/Info.plist
Pods/SwiftGen/lib/PathKit.framework/Versions/A/_CodeSignature/CodeResources
Pods/SwiftGen/lib/PathKit.framework/Versions/Current/PathKit
Pods/SwiftGen/lib/PathKit.framework/Versions/Current/Resources/Info.plist
Pods/SwiftGen/lib/PathKit.framework/Versions/Current/_CodeSignature/CodeResources
Pods/SwiftGen/lib/Stencil.framework/Resources/Info.plist
Pods/SwiftGen/lib/Stencil.framework/Stencil
Pods/SwiftGen/lib/Stencil.framework/Versions/A/Resources/Info.plist
Pods/SwiftGen/lib/Stencil.framework/Versions/A/Stencil
Pods/SwiftGen/lib/Stencil.framework/Versions/A/_CodeSignature/CodeResources
Pods/SwiftGen/lib/Stencil.framework/Versions/Current/Resources/Info.plist
Pods/SwiftGen/lib/Stencil.framework/Versions/Current/Stencil
Pods/SwiftGen/lib/Stencil.framework/Versions/Current/_CodeSignature/CodeResources
Pods/SwiftGen/lib/StencilSwiftKit.framework/Resources/Info.plist
Pods/SwiftGen/lib/StencilSwiftKit.framework/StencilSwiftKit
Pods/SwiftGen/lib/StencilSwiftKit.framework/Versions/A/Resources/Info.plist
Pods/SwiftGen/lib/StencilSwiftKit.framework/Versions/A/StencilSwiftKit
Pods/SwiftGen/lib/StencilSwiftKit.framework/Versions/A/_CodeSignature/CodeResources
Pods/SwiftGen/lib/StencilSwiftKit.framework/Versions/Current/Resources/Info.plist
Pods/SwiftGen/lib/StencilSwiftKit.framework/Versions/Current/StencilSwiftKit
Pods/SwiftGen/lib/StencilSwiftKit.framework/Versions/Current/_CodeSignature/CodeResources
Pods/SwiftGen/lib/SwiftGenKit.framework/Resources/Info.plist
Pods/SwiftGen/lib/SwiftGenKit.framework/SwiftGenKit
Pods/SwiftGen/lib/SwiftGenKit.framework/Versions/A/Resources/Info.plist
Pods/SwiftGen/lib/SwiftGenKit.framework/Versions/A/SwiftGenKit
Pods/SwiftGen/lib/SwiftGenKit.framework/Versions/A/_CodeSignature/CodeResources
Pods/SwiftGen/lib/SwiftGenKit.framework/Versions/Current/Resources/Info.plist
Pods/SwiftGen/lib/SwiftGenKit.framework/Versions/Current/SwiftGenKit
Pods/SwiftGen/lib/SwiftGenKit.framework/Versions/Current/_CodeSignature/CodeResources
Pods/SwiftGen/lib/Yams.framework/Resources/Info.plist
Pods/SwiftGen/lib/Yams.framework/Versions/A/Resources/Info.plist
Pods/SwiftGen/lib/Yams.framework/Versions/A/Yams
Pods/SwiftGen/lib/Yams.framework/Versions/A/_CodeSignature/CodeResources
Pods/SwiftGen/lib/Yams.framework/Versions/Current/Resources/Info.plist
Pods/SwiftGen/lib/Yams.framework/Versions/Current/Yams
Pods/SwiftGen/lib/Yams.framework/Versions/Current/_CodeSignature/CodeResources
Pods/SwiftGen/lib/Yams.framework/Yams
Pods/SwiftGen/lib/libswiftAppKit.dylib
Pods/SwiftGen/lib/libswiftCore.dylib
Pods/SwiftGen/lib/libswiftCoreData.dylib
Pods/SwiftGen/lib/libswiftCoreFoundation.dylib
Pods/SwiftGen/lib/libswiftCoreGraphics.dylib
Pods/SwiftGen/lib/libswiftCoreImage.dylib
Pods/SwiftGen/lib/libswiftDarwin.dylib
Pods/SwiftGen/lib/libswiftDispatch.dylib
Pods/SwiftGen/lib/libswiftFoundation.dylib
Pods/SwiftGen/lib/libswiftIOKit.dylib
Pods/SwiftGen/lib/libswiftMetal.dylib
Pods/SwiftGen/lib/libswiftObjectiveC.dylib
Pods/SwiftGen/lib/libswiftQuartzCore.dylib
Pods/SwiftGen/lib/libswiftXPC.dylib
Pods/SwiftGen/lib/libswiftos.dylib
Pods/SwiftGen/templates/colors/literals-swift3.stencil
Pods/SwiftGen/templates/colors/literals-swift4.stencil
Pods/SwiftGen/templates/colors/swift3.stencil
Pods/SwiftGen/templates/colors/swift4.stencil
Pods/SwiftGen/templates/coredata/swift3.stencil
Pods/SwiftGen/templates/coredata/swift4.stencil
Pods/SwiftGen/templates/fonts/swift3.stencil
Pods/SwiftGen/templates/fonts/swift4.stencil
Pods/SwiftGen/templates/ib/scenes-swift3.stencil
Pods/SwiftGen/templates/ib/scenes-swift4.stencil
Pods/SwiftGen/templates/ib/segues-swift3.stencil
Pods/SwiftGen/templates/ib/segues-swift4.stencil
Pods/SwiftGen/templates/json/inline-swift3.stencil
Pods/SwiftGen/templates/json/inline-swift4.stencil
Pods/SwiftGen/templates/json/runtime-swift3.stencil
Pods/SwiftGen/templates/json/runtime-swift4.stencil
Pods/SwiftGen/templates/plist/inline-swift3.stencil
Pods/SwiftGen/templates/plist/inline-swift4.stencil
Pods/SwiftGen/templates/plist/runtime-swift3.stencil
Pods/SwiftGen/templates/plist/runtime-swift4.stencil
Pods/SwiftGen/templates/strings/flat-swift3.stencil
Pods/SwiftGen/templates/strings/flat-swift4.stencil
Pods/SwiftGen/templates/strings/structured-swift3.stencil
Pods/SwiftGen/templates/strings/structured-swift4.stencil
Pods/SwiftGen/templates/xcassets/swift3.stencil
Pods/SwiftGen/templates/xcassets/swift4.stencil
Pods/SwiftGen/templates/yaml/inline-swift3.stencil
Pods/SwiftGen/templates/yaml/inline-swift4.stencil
Pods/Target Support Files/SwiftGen/SwiftGen.debug.xcconfig
Pods/Target Support Files/SwiftGen/SwiftGen.release.xcconfig
TestMacOSApp.xcworkspace/xcuserdata/vladislav.xcuserdatad/IDEFindNavigatorScopes.plist
TestMacOSApp/SwiftGen/Assets.swift
TestMacOSApp/SwiftGen/StoryboardScenes.swift
TestMacOSApp/SwiftGen/Strings.swift
