Pods/Alamofire/LICENSE
Pods/Alamofire/README.md
Pods/Alamofire/Source/AFError.swift
Pods/Alamofire/Source/Alamofire.swift
Pods/Alamofire/Source/AlamofireExtended.swift
Pods/Alamofire/Source/AuthenticationInterceptor.swift
Pods/Alamofire/Source/CachedResponseHandler.swift
Pods/Alamofire/Source/Combine.swift
Pods/Alamofire/Source/DispatchQueue+Alamofire.swift
Pods/Alamofire/Source/EventMonitor.swift
Pods/Alamofire/Source/HTTPHeaders.swift
Pods/Alamofire/Source/HTTPMethod.swift
Pods/Alamofire/Source/MultipartFormData.swift
Pods/Alamofire/Source/MultipartUpload.swift
Pods/Alamofire/Source/NetworkReachabilityManager.swift
Pods/Alamofire/Source/Notifications.swift
Pods/Alamofire/Source/OperationQueue+Alamofire.swift
Pods/Alamofire/Source/ParameterEncoder.swift
Pods/Alamofire/Source/ParameterEncoding.swift
Pods/Alamofire/Source/Protected.swift
Pods/Alamofire/Source/RedirectHandler.swift
Pods/Alamofire/Source/Request.swift
Pods/Alamofire/Source/RequestInterceptor.swift
Pods/Alamofire/Source/RequestTaskMap.swift
Pods/Alamofire/Source/Response.swift
Pods/Alamofire/Source/ResponseSerialization.swift
Pods/Alamofire/Source/Result+Alamofire.swift
Pods/Alamofire/Source/RetryPolicy.swift
Pods/Alamofire/Source/ServerTrustEvaluation.swift
Pods/Alamofire/Source/Session.swift
Pods/Alamofire/Source/SessionDelegate.swift
Pods/Alamofire/Source/StringEncoding+Alamofire.swift
Pods/Alamofire/Source/URLConvertible+URLRequestConvertible.swift
Pods/Alamofire/Source/URLEncodedFormEncoder.swift
Pods/Alamofire/Source/URLRequest+Alamofire.swift
Pods/Alamofire/Source/URLSessionConfiguration+Alamofire.swift
Pods/Alamofire/Source/Validation.swift
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/vladislav.xcuserdatad/xcschemes/Alamofire.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vladislav.xcuserdatad/xcschemes/Pods-TestMacOSApp.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vladislav.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Target Support Files/Alamofire/Alamofire-Info.plist
Pods/Target Support Files/Alamofire/Alamofire-dummy.m
Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
Pods/Target Support Files/Alamofire/Alamofire.debug.xcconfig
Pods/Target Support Files/Alamofire/Alamofire.modulemap
Pods/Target Support Files/Alamofire/Alamofire.release.xcconfig
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-Info.plist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-acknowledgements.markdown
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-acknowledgements.plist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-dummy.m
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-frameworks.sh
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp-umbrella.h
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp.debug.xcconfig
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp.modulemap
Pods/Target Support Files/Pods-TestMacOSApp/Pods-TestMacOSApp.release.xcconfig
